.navContainer{
    display: flex;
    justify-content: center;
}

.Container {
    width: 90%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
    background: linear-gradient(145deg, #ffffff, #f1f1f1);
    border-radius: 10px;
    align-items: center;
    transition: all 0.3s ease-in-out; 
}


.navbarLink{
    text-decoration: none;
    user-select: none;
    color:black;
    font-size: 18px;
}

.navbarLink:hover{
    text-decoration: underline;
}
