<div class="contentContainer">
  <div class="backgroundContainer">
    <div class="overlayText">
      <h1>Book Our Basketball Court in Just a Few Clicks!</h1>
      <p>Big hall, big opportunities. Check availability and book online.</p>
      <button class="button" (click)="scrollToCalendar()">Book Now</button>
    </div>
  </div>
  <h1>Book Your Sports Hall in Just a Few Steps!</h1>

  <h3 style="margin-bottom: 3rem">
    Welcome to our sports hall booking system. Follow these simple steps to
    reserve your spot:
  </h3>

  <div class="reservationContainer">
    <div  id="calendar" class="calendar-container">
      <div class="stepContainer">
        <h2>1. Pick a Date</h2>
      </div>
      <p>
        Browse the calendar and click on your preferred date. You'll instantly
        see all the available time slots for that day.
      </p>

      <div class="header">
        <fa-icon [icon]="left" class="icon" (click)="prevMonth()"></fa-icon>
        <h2>{{ monthNames[month] }} {{ year }}</h2>
        <fa-icon [icon]="right" class="icon" (click)="nextMonth()"></fa-icon>
      </div>

      <div class="days-header">
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
        <div>Sun</div>
      </div>

      <div class="days-grid">
        <div *ngFor="let day of daysInMonth" [class.today]="day?.isToday" [class.selected]="
            day && selectedDay?.toDateString() === day.date.toDateString()
          " (click)="day && selectDay(day.date)">
          {{ day ? day.date.getDate() : "" }}
        </div>
      </div>
    </div>
    <div *ngIf="selectedDay" class="reservationDetails">
      <div class="stepContainer">
        <h2 class="step">2. Choose Your Time Slot</h2>
      </div>
      <p>Select a time that works best for you.</p>

      <div class="reservationHeader">
        <h2>Reservations for {{ selectedDay | date : "fullDate" }}</h2>
      </div>
      <ul class="slotsContainer">
        <div *ngFor="let slot of timeSlots">
          <div class="slot" [ngClass]="{
          'slot-open': isSlotOpen(slot) && !isUserReservation(slot),
          'reserved': isReserved(slot) && !isSlotOpen(slot) && !isUserReservation(slot),
          'available': isSlotAvailable(slot) && !isSlotOpen(slot),
          'user-reservation': isUserReservation(slot)
        }">
            {{ slot }}
            <p *ngIf="isReserved(slot) && !isSlotOpen(slot) && !isUserReservation(slot)">Reserved</p>
            <p *ngIf="isUserReservation(slot)">Your Reservation  <fa-icon [icon]="edit" class="editIcon" (click)="openEditReservation(slot)"></fa-icon></p>

            <button *ngIf="isSlotOpen(slot) && !isUserReservation(slot)" class="button" (click)="openJoinSummary(slot)">
              Join
              {{ getParticipantsForSlot(slot) }} / {{ getMaxParticipantsForSlot(slot) }}
            </button>

            <div *ngIf="isSlotOpen(slot) && !isUserReservation(slot)">
              
            </div>

            <button *ngIf="isSlotAvailable(slot)" class="button" (click)="openReservationForm(slot)">
              Book
            </button>
          </div>
 
        </div>
      </ul>
    </div>

    <div *ngIf="showForm" class="summaryContainer">
      <div class="stepContainer">
        <h2>3. Reservation Summary</h2>
      </div>
      <p>Choose whether your reservation is open for others to join and set the maximum number of participants.</p>

      <div class="summary">
        <p><strong>Date:</strong> {{ reservationData?.date | date: 'fullDate' }}</p>
        <p><strong>Time Slot:</strong> {{ reservationData?.start_time }} - {{ reservationData?.end_time }}</p>
      </div>
      <div class="summaryForm">

        <div *ngIf="isOpen">
           <label for="maxParticipants">Max Participants</label>
           <input 
            type="number" 
            id="maxParticipants" 
            [(ngModel)]="maxParticipants" 
            (ngModelChange)="validateMaxParticipants($event)" 
            placeholder="Enter max participants"
            [min]="1" 
            [max]="10"
            style="margin-left: 1rem;"
          />
        </div>
       

        <label for="isOpen">Is this reservation open?</label>
        <select [(ngModel)]="isOpen" id="isOpen">
          <option value="true">Open</option>
          <option value="false">Closed</option>
        </select>

        <button class="button" (click)="submitReservation()">Submit Reservation</button>
      </div>
    </div>

    <div *ngIf="showJoinSummary" class="summaryContainer">
      <div class="stepContainer">
        <h2>3. Join Reservation</h2>
      </div>
      <p>Review the reservation details and decide if you'd like to join.</p>   
      <div class="summary">
        <p><strong>Reserved by:</strong> {{ joinReservationDetails?.user?.firstname }} {{ joinReservationDetails?.user?.lastname }}</p>
        <p><strong>Date:</strong> {{ joinReservationDetails?.date | date: 'fullDate' }}</p>
        <p><strong>Time Slot:</strong> {{ joinReservationDetails?.start_time }} - {{ joinReservationDetails?.end_time }}</p>
        <p><strong>Participants:</strong> {{ joinReservationDetails?.participant_count }} / {{ joinReservationDetails?.max_participants }}</p>
      </div>
    
      <button class="button" (click)="confirmJoin()">Join Reservation</button>
    </div>

    <div *ngIf="showEditReservation" class="summaryContainer">
      <div class="stepContainer">
        <h2>3. Manage your reservation</h2>
      </div>
      <p>Review and update the reservation details.</p>
    
      <div class="summary">
        <p><strong>Date:</strong> {{ joinReservationDetails?.date | date: 'fullDate' }}</p>
        <p><strong>Time Slot:</strong> {{ joinReservationDetails?.start_time }} - {{ joinReservationDetails?.end_time }}</p>
        <p><strong>Max Participants:</strong> {{ joinReservationDetails?.max_participants }}</p>
        <p><strong>Participants:</strong> {{ joinReservationDetails?.participant_count }} / {{ joinReservationDetails?.max_participants }}</p>
      
        <div *ngIf="joinReservationDetails?.participants?.length > 0">
          <h3>Participants:</h3>
          <ul>
            <li *ngFor="let participant of joinReservationDetails.participants; let i = index">
              {{ i + 1 }}. {{ participant.firstname }} {{ participant.lastname }}
            </li>
          </ul>
        </div>
      </div>
      
    
      <button class="button" [routerLink]="'profile'">Update Reservation</button>
    </div>

    
</div>


<div *ngIf="errorMessage" class="error-message">
  <div class="error-content">
    <p>{{ errorMessage }}</p>
    <button class="button" (click)="closeErrorMessage()">Close</button>
  </div>
</div>