.contentContainer {
      margin-top: 0;
      padding: 0;
}

.backgroundContainer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: start;
      height: 50vh;
      padding: 50px;
      margin: 0;
      width: 100%;
}

.backgroundContainer::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../../../assets/img/basketballhall4.jpg");
      background-size: cover;
      filter: blur(4px);
      z-index: -1;
}

.overlayText {

      text-align: center;
      color: white; 
      z-index: 1; 
}

.overlayText h1 {
      font-size: 40px;
      margin-bottom: 20px;
      font-weight: bold;
}

.overlayText p {
      font-size: 18px;
      margin-bottom: 30px;
}

.button {
      height: min-content;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      border: none;
      background-color: var(--blue1);
      color: black;
      transition: all 0.3s ease-in-out;
}

.button:hover {
      cursor: pointer;
      color: #333;
      transform: translateY(-5px);
}

.calendar-container {
  max-width: 25rem;
  margin: auto;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.days-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.days-header div {
  padding: 5px 0;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
}

.days-grid div {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  height: 30px;
  width: 30px; 
  font-size: 16px;
  transition: background-color 0.3s ease, border 0.3s ease; 
}

.days-grid div:hover {
  background-color: var(--blue7);
}

.days-grid div.today {
  font-weight: bold;
}

.days-grid div.selected {
  background-color: var(--blue1);
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  padding: 5px 10px;
  margin: 5px 0;
  cursor: pointer;
}



.close-button {
  margin-top: 10px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.slot {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

.slot.reserved {
  background-color: #f8d7da;
  color: #721c24;
}

.slot.slot-open {
  background-color: #d4edda;
  color: #155724;
}

.slot.available {
  background-color: #f9f9f9;

}


.join-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.join-button:hover {
  background-color: #45a049;
}
