.postContainer {
    border-radius: 5px;
    background-color: #D3DEF3;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 10px;
    width: 100%;
    margin-bottom: 1rem;
}

.introText {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
}

.introText h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.introText p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.postAuthorContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.postAuthor {
    color: #666;
    font-size: 14px;
    margin-bottom: 5px;
}

.postContent {
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 18px;
    line-height: 1.5;
    word-wrap: break-word;
    max-width: 100%;
}

.communityContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentLink{
    font-size:14px;
    text-decoration: none;
    user-select: none;
}
.commentLink:hover{
    cursor:pointer;
    text-decoration: underline;
}

.textContainer {
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 20px;
}

.commentTextContainer {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.textArea {
    width: 80%;
    height: 100%; 
    max-height: 200px; 
    resize: none; 
    border: none; 
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 10px; 
    box-sizing: border-box; 
    background-color: #f5f5f5; 
    color: #333; 
    border-radius: 5px; 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
    overflow-y: auto; 
}

.commentContainer {
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: end;
}

.commentContent {
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    max-width: 100%;
    margin: 0px;
}

.commentContainer small {
    font-size: 12px;
    color: #666;
}

.buttonContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.button {
    height: min-content;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--blue1);
    color: black;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    cursor: pointer;
    color: #333;
    transform: translateY(-6px);
}

.buttonComment {
    height: min-content;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    transition: all 0.3s ease-in-out;
}

.buttonComment:hover {
    cursor: pointer;
    color: #333;
    transform: translateY(-6px);
}

.error-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .error-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom:0;
  }
  
  input[type="number"], select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: border 0.3s ease;
}
  
  input:focus, select:focus {
    border-color: var(--blue1);
    outline: none;
  }
  
  select {
    height: 40px;
    font-family: 'Poppins', sans-serif;
  }



  .reservationInfoText{
    padding:0;
    margin:0;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
  }

  .icon{
    cursor: pointer;
    padding:5px 10px 5px 10px;
    border-radius: 50%;
  }
  .icon:hover{
    background-color: white;
  }

  .confirmationDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .dialogContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

