<div class="contentContainer">  
  <textarea 
    id="newPostContent" 
    [(ngModel)]="content" 
    rows="4" 
    cols="50" 
    placeholder="Napisz se cos wariaciku"
  ></textarea>
  <button (click)="addPost()" [disabled]="!content.trim()">Dodaj Post</button>
</div>

<div *ngIf="posts.length > 0">
  <div *ngFor="let post of posts" class="postContainer">
    <div class="post">
      <small>Posted by: {{ post.user.firstname }} {{ post.user.lastname }}</small>
      <p>{{ post.content }}</p>

      <a (click)="toggleCommentInput(post.id)">Add Comment</a>

      <div *ngIf="showCommentInput[post.id]">
        <textarea [(ngModel)]="commentContent" rows="4" cols="50" placeholder="Write your comment..."></textarea>
        <button (click)="addComment(post.id)">Add Comment</button>
      </div>

      <div *ngFor="let comment of post.comments">
        <p>{{ comment.content }}</p>
        <small>{{ comment.user.firstname }} {{ comment.user.lastname }}</small>
      </div>
    </div>
  </div>
</div>
