<div class="contentContainer">
  <div class="communityContainer">
    <div class="introText">
      <h1>Welcome to the Community Board!</h1>
      <p>Connect with others, share your availability, and organize upcoming games. Whether you're looking for a partner or booking a time, this is the place to make it happen. Post and find your next match!</p>
  </div>

    <div class="textContainer">
      <textarea class="textArea" id="newPostContent" [(ngModel)]="content" rows="4" cols="50"
        placeholder="Write your post..."></textarea>
      <select [(ngModel)]="selectedReservationId" class="reservationDropdown">
        <option value="" disabled selected>Select a reservation</option>
        <option *ngFor="let reservation of reservations" [value]="reservation.id">
          {{ reservation.date | date:'dd-MM-yyyy' }} {{reservation.start_time}} - {{reservation.end_time}} 
        </option>
      </select>
      <div class="buttonContainer">
        <button class="button" (click)="addPost()" [disabled]="!content.trim()">Post</button>
      </div>
    </div>
    
    <div *ngIf="posts.length > 0" style="width: 100%;">
      <div *ngFor="let post of posts" class="postContainer">
        <div class="postAuthorContainer">
          <small class="postAuthor">Posted by: {{ post.user.firstname }} {{ post.user.lastname }}</small>
          <small class="postAuthor">{{ post.date | date:'dd.MM.yyyy' }}</small>
        </div>

        <p class="postContent">{{ post.content }}</p>

        <div *ngIf="post.reservation">
          <p>Reservation: {{ post.reservation.title }} ({{ post.reservation.currentParticipants }}/{{ post.reservation.maxParticipants }})</p>
          <button *ngIf="post.reservation.currentParticipants < post.reservation.maxParticipants" (click)="joinReservation(post.reservation.id)">
            Join
          </button>
        </div>

        <div>
          <a class="commentLink" (click)="toggleCommentInput(post.id)">Comments</a>
        </div>


        <div *ngIf="activeCommentPostId === post.id">
          <div *ngIf="post.comments && post.comments.length > 0">
            <div *ngFor="let comment of post.comments" class="commentContainer">
              <small>{{ comment.user.firstname }} {{ comment.user.lastname }}</small>
              <p class="commentContent">{{ comment.content }}</p>

            </div>
          </div>
          <div class="commentTextContainer">
            <textarea class="textArea" [(ngModel)]="commentContent" rows="4" cols="50"
              placeholder="Write your comment..."></textarea>
            <div class="buttonContainer">
              <button class="buttonComment" (click)="addComment(post.id)">OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>