<div class="contentContainer">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div>
            <input type="email" placeholder="email" ngModel name="email" id="email">
            <input type="password" placeholder="password" ngModel name="password" id="password">
            <input type="text" placeholder="firstname" ngModel name="firstname" id="firstname" class="p-4 text-sm border border-gray-300 rounded" />
            <input type="text" placeholder="lastname" ngModel name="lastname" id="lastname" class="p-4 text-sm border border-gray-300 rounded"/>
        </div>
        <button>Sign up</button>
    </form>  
</div>
  