<div class="contentContainer">
    <div style="align-items: center;text-align: center;">
        <h1>Sign up</h1>
        <h2 class="introText">Create an account to book the hall and join our community</h2>
    </div>
    <div class="registerContainer">
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <input type="email" placeholder="email" ngModel name="email" id="email" required>
            <input type="password" placeholder="password" ngModel name="password" id="password" required>
            <input type="text" placeholder="firstname" ngModel name="firstname" id="firstname" required>
            <input type="text" placeholder="lastname" ngModel name="lastname" id="lastname" required>
            <button>Sign up</button>
        </form>
    </div>
</div>
